.calculator {
  background-color: #f6f9fb;
  height: 58rem;
  width: 34rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.6s ease;
}

.calculator-dark {
  background-color: #16191b;
  height: 58rem;
  width: 34rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: all 0.6s ease;
}
