.calculator {
  background-color: #f6f9fb;
  height: 58rem;
  width: 34rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}
